html{
    background: darkgray;
    text-align: center;
}

img{
    /*max-width: 400px;*/
    display: none;
}

canvas{
    /*vertical-align: top!important;*/
}

br {
    display: block;
    margin: 10px 0;
}
